.project_section {
  width: 100%;
  min-height: 50vh;
  padding: 1.5rem 0;

  h1 {
    color: white;
    text-align: center;
  }
}

.project-card {
  width: 100%;
  margin: 1.5rem auto;
  color: white;
  padding: 1.5rem;
}



.project-card-img {

  height: 350px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  transition: all 400ms;

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    transition: all 300ms;
    border-radius: 10px;
  }

  .project-card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: #0000004e;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;

    font-size: 2.5rem;

    a {
      cursor: pointer;
      color: white;
    }
  }

  &:hover .project-card-img-overlay {
    display: flex;
  }
}

.project-detail {
  margin-top: 1.5rem;

  h2 {
    text-align: center;
  }

  p {
    text-align: center;
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
  }
}

.project-detail-tech {

  margin-top: 1rem;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 1rem;

    li {
      padding: 5px 10px;
      background: rgba(173, 216, 230, 0.235);
      border: 1px solid lightgray;
      border-radius: 40px;
      cursor: pointer;

      &:hover {
        background: rgba(173, 216, 230, 0.547);
      }
    }
  }
}