.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5rem 1rem 1rem;
  background: var(--primary-bg);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 88888;
}

.logo {

  img {
    max-width: 50%;
  }
}

.menu-icon {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .menu-icon {
    display: none;
  }
}

.menu-item {
  color: #111;
  background: white;
  max-height: 0;
  height: 0;
  overflow: hidden;
  width: 220px;
  position: absolute;
  top: 80px;
  right: 2rem;
  transition: all 400ms;
  border-radius: 20px;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    list-style: none;

    li {
      cursor: pointer;
    }
  }
}


@media screen and (min-width: 1200px) {
  .menu-item {
    overflow: visible;
    height: auto;
    max-height: fit-content;
    background: none;
    top: 30px;

    ul {
      flex-direction: row;
      gap: 2rem;

      li {

        a {
          color: white;
        }
      }
    }
  }
}

.menu-item.active {
  height: auto;
  max-height: fit-content;
  padding: 2rem;
}