@import "../../responsive/Desktop.scss";
.project_Page {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .project_Description {
    padding: 2rem;
  }
}

@include md {
  .project_Page {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}
