@import "../../responsive/Desktop.scss";

.description {
  width: 100%;
  padding: 10px;
  color: white;
}

.project_title {
  h1 {
    font-size: 1.6rem;
    font-weight: 400;
  }
  p {
    font-size: 14px;
  }
}

.project_technologies {
  margin-top: 2rem;
  h2 {
    font-weight: 300;
  }
  ul {
    margin-left: 2rem;

    li {
      padding: 10px 0;
      transition: all 300ms;
    }
    li:hover {
      color: var(--primary-color);
    }
  }
}

.project_working {
  margin-top: 2rem;

  h1 {
    font-size: 1.6rem;
    font-weight: 400;
  }
}

// project image section here

.project_img {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.poster {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-width: 90%;
  }
}

.sub_poster {
  display: flex;
  gap: 2rem;
  grid-template-columns: repeat(4, auto);
  img {
    max-width: 150px;
    max-height: 150px;
    cursor: pointer;
  }
}

@include md {
  //prject title here

  .description {
    color: #000000;
  }

  .project_title {
    text-align: center;
    p {
      padding-left: 0;
    }
  }

  // .project images here
  .project_img {
    width: 100%;
  }

  .sub_poster {
    img {
      max-width: 100px;
    }
  }
}
