.hero-section {
  width: 100%;
  height: 50vh;
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.18);
  background: var(--primary-bg);
}

.hero-section div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 2rem;
  }
  .resume-btn {
    padding: 12px 30px;
    margin-top: 2rem;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: background 400ms ease-in-out;
  }
  .resume-btn:hover {
    background: linear-gradient(to right, #12c2e9, #f64f59);
    color: white;
  }
}

@media screen and (min-width: 1500px) {
  .hero-section {
    height: 100vh;
    div {
      h1 {
        font-size: 6rem;
      }
      p {
        font-size: 1.5rem;
        margin-top: 2rem;
      }
    }
  }
}
